@value panel, title, button, input, textarea from '../../styles/panels/default.css';
@value tabs from '../../styles/tabs/default.css';
@value textarea from '../../styles/forms/inputs.css';

.panel {
    composes: panel;

    bottom: 0;
    left: 0;
    position: absolute;
}

.title {
    composes: title;
}

.input {
    composes: input;
}

.button {
    composes: button;
}

.textarea {
    composes: textarea;
    margin-left: 0;
    margin-right: 0;
}
