@value panel, title, input, textarea from '../../styles/panels/default.css';
@value textarea from '../../styles/forms/inputs.css';

.panel {
    composes: panel;

    bottom: 0;
    left: 0;
    position: absolute;
}

.title {
    composes: title;
}

.input {
    composes: input;
    background-color: rgba(39, 47, 49, 1.0);
    border: none;
    margin: 0 1px 0 0;
    width: 326px;
}

.button {
    flex: 0 0 auto;
    margin: 0;
}

.textarea {
    composes: textarea;
    margin: 1px 0;
}
