@value panel, title, button, input, textarea from '../../styles/panels/default.css';
@value tabs from '../../styles/tabs/default.css';

.panel {
    composes: panel;
}

.title {
    composes: title;
}

.input {
    composes: input;
}

.button {
    composes: button;
}

.textarea {
    composes: textarea;
}
