@value panel from '../../styles/panels/default.css';

.container {
    bottom: -0.8rem;
    position: fixed;
    right: 0.8rem;
}

.panel {
    composes: panel;
    background-color: rgba(53, 131, 140, 1.0);
    border-color: rgba(53, 131, 140, 1.0);
    margin-bottom: 0.8rem;
    padding: 0.6rem 1.6rem 0.6rem 0.8rem;
    width: 250px;
}
